.VacationCard {
    display: inline-flex;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    padding: 5px;
    overflow: scroll;
    color: white;
}

.VacationCard .DeleteButton {
    color: red;
}

.VacationCard .EditButton {
    color: orange;
}

.VacationCard img {
    max-width: auto;
}